$mainColor: #0088cc;
$secondMainColor: #686e7a;
$lightSecondMainColor: rgb(0, 158, 237);
$darkSecondMainColor: rgba(0, 136, 204, 0.745);
$darkBackgroundColor: #141414;
$gray: #484848;
$white: rgb(225, 227, 230);
$red: rgb(255, 0, 0);
$green: green;